.footerBigContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    width: 40%;
    margin-top: 100px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    
    
}

.footerUl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-top: 1px solid var(--about-text-color);
    height: 50px;
}

.footerList {
    color: var(--about-text-color);
}

.footerList:hover {
    border-bottom: 1px solid var(--about-text-color);
    cursor: pointer;
}